<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>AccelerateSolvePerfTest</key>
		<dict>
			<key>testSolvePerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.086825</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 7, 2018 at 3:17:37 AM</string>
				</dict>
			</dict>
		</dict>
		<key>PerformanceTest</key>
		<dict>
			<key>testAlgrbaic()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.061763</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 7, 2018 at 3:17:37 AM</string>
				</dict>
			</dict>
			<key>testProjectiveTransformFromPoints()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.13587</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 7, 2018 at 3:17:37 AM</string>
				</dict>
			</dict>
			<key>testProjectiveTransformPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.057824</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 7, 2018 at 3:17:37 AM</string>
					<key>maxPercentRelativeStandardDeviation</key>
					<real>20</real>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
